# ignore all files
*

# unignore all files with extensions
!*.*

# unignore all directories
!*/

########## above ignores all files without extensions ##########

# ignore objext files
*.o
*.exe

# ignore .vscode setups
.vscode/*